<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.romantic.romanticbackend.mapper.RecordsMapper">
    <resultMap id="RecordsResult" type="com.romantic.romanticbackend.domain.Records">
        <result property="id" column="id"></result>
        <result property="content" column="content"></result>
        <result property="name" column="name"></result>
        <result property="date" column="date"></result>
        <result property="time" column="time"></result>
    </resultMap>

    <select id="recordsList" resultMap="RecordsResult" parameterType="com.romantic.romanticbackend.domain.Records">
        SELECT * FROM Records where deleted = 0 Order by date,time ASC
    </select>

    <select id="recordsListByDate" resultMap="RecordsResult" parameterType="com.romantic.romanticbackend.domain.Records">
        SELECT * FROM Records where date = #{date} and deleted = 0 Order by time ASC
    </select>

    <select id="recordsDateList" resultMap="RecordsResult" parameterType="com.romantic.romanticbackend.domain.Records">
        select MIN(date) date from Records GROUP BY date
    </select>

    <insert id="recordsAdd" parameterType="com.romantic.romanticbackend.domain.Records">
        insert into Records (name,date,time,content,createAt,deleted) values (#{name},#{date},#{time},#{content},#{createAt},#{deleted})
    </insert>
</mapper>